<%- include("includes/head") %>
<%- include("includes/navbar") %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Acesse!</h1>
            <p class="text-center lead">Preencha com seus dados abaixo.</p>

            <%- include("includes/messages") %>

            <form class="form-login" action="/" method="post">
              <fieldset>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                  <div class="mb-3">
                    <label for="nameInput" class="form-label">Nome</label>
                    <input type="name" id="nameInput" name="name" class="form-control" placeholder="Ex: Arthur">
                  </div>
                  <div class="mb-3">
                    <label for="passwordInput" class="form-label">Senha</label>
                    <input type="password" id="passwordInput" name="password" class="form-control" placeholder="*******">
                  </div>
                  <button type="submit" class="btn btn-success">Entrar</button>
                  <p class="text-center text-secondary my-3">Não possui conta? <a href="/register">Criar uma conta!</a></p>
                </fieldset>
            </form>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include("includes/footer") %>